:host{
    display: block;
    color: green;
    border-width: 2px;
    border-style: solid;
    display: block;
    margin: 30px;
}

.products-header{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.products-button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}